<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 32px;">Wheel4Code</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
              <li class="nav-item">
          <a class="nav-link active" href="{{path('draw_all')}}"><i class="fa-solid fa-dice"></i> Les tirages</a>
        </li>
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if app.user %}
                <img src="{{ asset('assets/avatars/' ~ app.user.avatar) }}"
                    alt="Avatar"
                    class="rounded-circle me-2 nav-avatar">
            {% else %}
                <i class="fa-solid fa-circle-user" style="font-size: 27px;"></i>
            {% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% if app.user %}
              <li><a class="dropdown-item" href="{{path('app_profile')}}"><i class="fa-solid fa-user"></i> Mon profil</a></li>
              <li><a class="dropdown-item" href="{{path('app_logout')}}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{{path('app_login')}}"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a></li>
              <li><a class="dropdown-item" href="{{path('app_register')}}"><i class="fa-solid fa-user-plus"></i> Inscription</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
